<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Constructora_FV.My.MySettings.ConnectionString" connectionString="Dsn=Constructora FV"
            providerName="System.Data.Odbc" />
        <add name="Constructora_FV.My.MySettings.Datos_adjuntosConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Datos_adjuntos.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
